body, html{
  height:auto;
  width:400px;
}

label {
  font-family: Retroville;
}

.name-label {
  text-align: center;
}

#profileImage {
    border-radius: 50%;
    margin-left:40%;
    height:60px;
    width:60px;
    border: 1.5px solid white;
}

.mainDiv {
    background-color: #282828;
    margin-left:1px;
    margin-top:1px;
    padding: 10px;

    height:auto;
    width:400px;
    color: white;
    border-radius: 25px;
}

@font-face {
    font-family: Retroville;
    src: url(../../../resources/fonts/retroville\ nc.ttf);
  }

.attribute {
}

.attribute img{

}

.bg-image {
    /* The image used */
    background-image: url("bg.png");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  