<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">

        <link rel="stylesheet" href="profile.css">
    </head>
    <body>

        <!-- bg-image -->
        <div class="mainDiv">
            <img id="profileImage" src="{{human.user.avatar_url_as(size = 4096)}}">
            <br/>
            <label class="name-label">{{human.user}}</label>

            <div class="attribute">
                <!-- <img src="../../../resources/sprites/moneybag.png"> -->
                <span class="fa fa-money"/> <label>{{human.gold}}</label>
            </div>

            <div class="attribute">
                <span class="fa fa-clock-o"/> <label>22:55</label>
            </div>

            <div class="attribute">
                <span class="fa fa-clock-o"/> <label>22:55</label>
            </div>



            <div class="attribute">
                26
            </div>

        </div>
    </body>

</html>