@page {
    margin: 0;
	height: 20%;
	width: 120%;
}

body, div, h1, h2, h3, h4, h5, h6, p {
	widows: 2;
	orphans: 2;
	background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-style: normal;
	text-align: left;
	page-break-after: avoid;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
table {
	width:100%;
}
img, div {
	padding: 0;
	margin: 0;
}
div.h100 {
	text-align: center;
	height: 97%;
	clear: both;
}
img.h100 {
	height: 100%;
}
div.w100 {
	text-align: center;
	 
	width: 100%;
	clear: both;
}
div.w100B {
	text-align: center;
	 
	width: 100%;
	clear: both;
	margin:30% 0 0 0;
}
img.w100 {
	 
	width: 100%;
}
img.h1em {
	height: 1em;
}
img.h2em {
	height: 2em;
}
img.h4em {
	height: 4em;
}

body {
	-epub-hyphens:auto;
}
div.Extract {
	border-color:#272525;
	border-width:2px;
	border-style:solid;
}

table.Table {
	border-collapse:collapse;
	border: 0 none #272525;
	margin-bottom:0;
	margin-top:0;
}
td.Table {
	border:  1px solid #272525;
	padding: 4px;
	vertical-align:top;
}

td.Cells {
	border-bottom: 1px solid #272525;
	border-left: 0 solid #272525;
	border-right: 0 solid #272525;
	border-top: 1px solid #272525;
	padding-bottom:8px;
	padding-left:0;
	padding-right:0;
	padding-top:6px;
	vertical-align:top;
}
td.Title {
	border-bottom: 1px solid #272525;
	border-left: 0 solid #272525;
	border-right: 0 solid #272525;
	border-top: 1px solid #272525;
	padding-bottom:9px;
	padding-left:0;
	padding-right:0;
	padding-top:7px;
	vertical-align:top;
}
h1.x01-FM-Ad-Card-Head {
	 /*"Humanst521 BT"*/
	font-size:0.75em;
	font-weight:bold;
	margin: 8% 0 0 0;
	text-align:center;
	text-indent:0;
}
p.x01-FM-Ad-Card-List {
	 /*"Sabon LT Std"*/
	font-size:0.833em;
	font-style:italic;
	margin: 1.3em 0 0 0;
	text-align:center;
	text-indent:0;
}
p.x01-FM-Contents-BM-Head {
	 /*"Humanst521 BT"*/
	font-size:0.667em;
	margin: 1.0em 0 0 3.25em;
	text-indent:-1em;
}
p.x01-FM-Contents-BM-Head-First {
	 /*"Humanst521 BT"*/
	font-size:0.667em;
	margin: 2.62em 0 0 3.25em;
	text-indent:-1em;
}
p.x01-FM-Contents-CT {
	 /*"Humanst521 BT"*/
	font-size:0.667em;
	margin: 0.75em 0 0 2.25em;
	text-indent:0;
}
p.x01-FM-Contents-CT-First {
	 /*"Humanst521 BT"*/
	font-size:0.667em;
	margin: 2em 0 0 2.25em;
	text-indent:0;
}
p.x01-FM-Contents-CT-First2 {
	 /*"Humanst521 BT"*/
	font-size:0.667em;
	margin: 0em 0 0 2.25em;
	text-indent:0;
}
p.x01-FM-Contents-PT {
	 /*"Humanst521 BT"*/
	font-size:0.833em;
	font-weight:bold;
	margin: 1.9em 0 0.3em 0;
	text-indent:0;
}
p.x01-FM-Copyright-Imprint {
	 /*"Sabon LT Std"*/
	font-size:0.667em;
	margin: 1.87em 2.25em 0 2.25em;
	text-indent:0;
}
p.x01-FM-Copyright-Text {
	 /*"Sabon LT Std"*/
	font-size:0.667em;
	margin: 0 0em;
	text-indent:0;
}
p.x01-FM-Copyright-Text-CIP {
	 /*"Sabon LT Std"*/
	font-size:0.667em;
	margin: 0 0em 0 1em;
	text-indent:-1em;
}
p.x01-FM-Copyright-Text-Logo {
	 /*"Sabon LT Std"*/
	font-size:0.667em;
	margin: 1.87em 2.25em 0 2.25em;
	text-indent:0;
}
p.x01-FM-Copyright-Text-Space {
	 /*"Sabon LT Std"*/
	font-size:0.667em;
	margin: 1.0em 0em 0 0em;
	text-indent:0;
}
p.x01-FM-Dedi-Body {
	 /*"Sabon LT Std"*/
	font-size:0.833em;
	font-style:italic;
	margin: 15% 1em 0 1em;
	text-align:center;
	text-indent:0;
}
p.x01-FM-Epigraph-FL {
	 /*"Sabon LT Std"*/
	font-size:0.792em;
	margin: 15% 1.89em 0 1.89em;
	text-indent:-0.53em;
}
p.x01-FM-Epigraph-Source {
	 /*"Sabon LT Std"*/
	font-size:0.708em;
	margin: 0 2.12em 1.53em 2.12em;
	text-align:right;
	text-indent:-0.59em;
}
h1.x01-FM-Head {
	 /*"Humanst521 BT"*/
	font-size:1.333em;
	font-weight:bold;
	margin: 15% 1em 1em 1em;
	page-break-after:avoid;
	text-align:center;
	text-indent:0;
}
h1.x02-Part-Number {
	color:#ffffff;
	 /*"Humanst521 BT"*/
	font-size:1.583em;
	margin: 0.68em 0 0 0;
	text-align:center;
	text-indent:0;
}
h1.x02-Part-Title {
	color:#ffffff;
	 /*"Humanst521 BT"*/
	font-size:1.917em;
	font-weight:bold;
	margin: 0.57em 0 0 0;
	text-align:center;
	text-indent:0;
}
p.x03-CO-Body-Text {
	 /*"Sabon LT Std"*/
	font-size:0.833em;
	margin: 0;
	text-indent:0;
}
p.x03-CO-Body-Text-2 {
	 /*"Sabon LT Std"*/
	font-size:0.833em;
	margin: 10% 0 0 0;
	text-indent:0;
}
p.x03-CO-Body-Text-with-quote {
	 /*"Sabon LT Std"*/
	font-size:0.833em;
	margin: 0;
	text-indent:0;
}
p.x03-Chapter-Epigraph {
	 /*"Sabon LT Std"*/
	font-size:0.792em;
	margin: 2.1em 1.89em 0 1.89em;
	text-indent:-0.53em;
}
p.x03-Chapter-Epigraph-2nd {
	 /*"Sabon LT Std"*/
	font-size:0.792em;
	margin: 0 1.89em;
	text-indent:-0.53em;
}
p.x03-Chapter-Epigraph-2nd {
	 /*"Sabon LT Std"*/
	font-size:0.792em;
	margin: 0 1.89em 0 2.89em;
	text-indent:-1em;
}
p.x03-Chapter-Epigraph-NL {
	 /*"Sabon LT Std"*/
	font-size:0.792em;
	margin: 0 1.89em;
	text-indent:0;
}
p.x03-Chapter-Epigraph-Source {
	 /*"Sabon LT Std"*/
	font-size:0.708em;
	margin: 0 2.12em 1.53em 2.12em;
	text-align:right;
	text-indent:-0.59em;
}
p.x03-Chapter-Epigraph-Verse {
	 /*"Sabon LT Std"*/
	font-size:0.792em;
	margin: 0 1.89em;
	text-indent:0;
}
p.x03-Chapter-Epigraph-Verse-First {
	 /*"Sabon LT Std"*/
	font-size:0.792em;
	margin: 2.1em 1.89em 0 2.89em;
	text-indent:-1em;
}
p.x03-Chapter-Epigraph-Verse-First-Quote {
	 /*"Sabon LT Std"*/
	font-size:0.792em;
	margin: 2.1em 1.89em 0 2.89em;
	text-indent:-1em;
}
p.x03-Chapter-Epigraph-Verse-Indent {
	 /*"Sabon LT Std"*/
	font-size:0.792em;
	margin: 0 1.89em 0 3.42em;
	text-indent:-1em;
}
p.x03-Chapter-Epigraph-Verse-Quote {
	 /*"Sabon LT Std"*/
	font-size:0.792em;
	margin: 0 1.89em 0 2.89em;
	text-indent:-1em;
}

/*May want to look at these*/

h2.x03-Chapter-Subtitle {
	 /*"Humanst521 BT"*/
	font-size:1.167em;
	margin: 1.5em 0 1.5em 0;
	page-break-after:avoid;
	text-align:center;
	text-indent:0;
}
h2.x03-Chapter-Title {
	 /*"Humanst521 BT"*/
	font-size:1.333em;
	font-weight:bold;
	margin: 1em 0 0em 0;
	page-break-after:avoid;
	text-align:center;
	text-indent:0;
}
p.x04-Body-Text {
	 /*"Sabon LT Std"*/
	font-size:0.833em;
	margin: 0;
	text-indent:1.4em;
}
p.x04-Body-Text-FL {
	 /*"Sabon LT Std"*/
	font-size:0.833em;
	margin: 0;
	text-indent:0;
}
h3.x05-Head-A {
	 /*"Humanst521 BT"*/
	font-size:0.813em;
	margin: 0 0 0 0;
	page-break-after:avoid;
	text-align:center;
	text-indent:0;
	border-style:double;
	border-width:3px 0 3px 0;
	padding:.5em 0 .5em 0;
}
h4.x05-Head-B {
	 /*"Humanst521 BT"*/
	font-size:0.833em;
	font-weight:bold;
	margin: 1.3em 0 .5em 0;
	page-break-after:avoid;
	text-indent:0;
}
p.x06-Extract {
	 /*"Sabon LT Std"*/
	font-size:0.792em;
	margin: 0 1.89em;
	text-indent:-0.53em;
}
p.x06-Extract-1P {
	 /*"Sabon LT Std"*/
	font-size:0.792em;
	margin: 1.37em 1.89em;
	text-indent:-0.53em;
}
p.x06-Extract-First {
	 /*"Sabon LT Std"*/
	font-size:0.792em;
	margin: 1.37em 1.89em 0 1.89em;
	text-indent:-0.53em;
}
p.x06-Extract-Source {
	 /*"Sabon LT Std"*/
	font-size:0.667em;
	margin: 0 2.25em 1.62em 2.25em;
	text-align:right;
	text-indent:-0.62em;
}
p.x06-Verse {
	 /*"Sabon LT Std"*/
	font-size:0.792em;
	margin: 0 0 0 1.89em;
	text-indent:0;
}
p.x06-Verse-First {
	 /*"Sabon LT Std"*/
	font-size:0.792em;
	margin: 1.37em 0 0 2.89em;
	text-indent:-1em;
}
p.x06-Verse-First-Quote-Hang {
	 /*"Sabon LT Std"*/
	font-size:0.792em;
	margin: 1.37em 0 0 2.89em;
	text-indent:-1em;
}
p.x06-Verse-Last {
	 /*"Sabon LT Std"*/
	font-size:0.792em;
	margin: 0 0 1.37em 2.89em;
	text-indent:-1em;
}
p.x06-Verse-Last-Indent {
	 /*"Sabon LT Std"*/
	font-size:0.792em;

	margin: 0 0 1.37em 3.53em;
	text-indent:-1em;
}
p.x06-Verse-Source {
	 /*"Sabon LT Std"*/
	font-size:0.708em;
	margin: 0 2.12em 1.53em 2.12em;
	text-align:right;
	text-indent:-0.59em;
}
li.x07-List-Bulleted {
	 /*"Sabon LT Std"*/
	font-size:0.813em;
	margin: 0 0 0 1.89em;
	text-indent:0;
}
li.x07-List-Bulleted-First {
	 /*"Sabon LT Std"*/
	font-size:0.813em;
	margin: 1.33em 0 0 1.89em;
	text-indent:0;
}
li.x07-List-Bulleted-Last {
	 /*"Sabon LT Std"*/
	font-size:0.813em;
	margin: 0 0 1.33em 1.89em;
	text-indent:0;
}
p.x07-List-Numbered {
	 /*"Sabon LT Std"*/
	font-size:0.833em;
	margin: 0 0 0 2.6em;
	text-indent:-2.6em;
}
p.x07-List-Numbered-First {
	 /*"Sabon LT Std"*/
	font-size:0.833em;
	margin: 1.3em 0 0 2.6em;
	text-indent:-2.6em;
}
p.x07-List-Numbered-Last {
	 /*"Sabon LT Std"*/
	font-size:0.833em;
	margin: 0 0 1.3em 2.6em;
	text-indent:-2.6em;
}
p.x07-List-Unnumbered {
	 /*"Sabon LT Std"*/
	font-size:0.813em;
	margin: 0 0 0 2.77em;
	text-indent:-0.92em;
}
p.x07-List-Unnumbered-First {
	 /*"Sabon LT Std"*/
	font-size:0.813em;
	margin: 0.72em 0 0 2.77em;
	text-indent:-0.92em;
}
p.x07-List-Unnumbered-Last {
	 /*"Sabon LT Std"*/
	font-size:0.813em;
	margin: 0 0 0.72em 2.77em;
	text-indent:-0.92em;
}
p.x08-Table-Body {
	 /*"Arno Pro"*/
	font-size:0.625em;
	margin: 0;
	text-indent:0;
}
p.x08-Table-Column-Head {
	 /*"Arno Pro"*/
	font-size:0.625em;
	font-weight:bold;
	margin: 0;
	text-indent:0;
}
p.x08-Table-Title {
	 /*"Humanst521 BT"*/
	font-size:0.75em;
	font-weight:bold;
	margin: 0;
	text-indent:0;
}
p.x13-BM-Glos-Text {
	 /*"Arno Pro"*/
	font-size:0.708em;
	margin: 0.59em 0 0 0;
	text-indent:0;
}
h1.x13-BM-Head {
	 /*"Humanst521 BT"*/
	font-size:1.333em;
	font-weight:bold;
	margin: 10% 1em 1em 1em;
	page-break-after:avoid;
	text-align:center;
	text-indent:0;
}
span._2-Part-Title {
	 /*"Sabon LT Std"*/
	font-size:1.667em;
	font-style:italic;
	font-weight:bold;
}
span._3-CO-Body-Text {
	 /*"Humanst521 BT"*/
}
span._3-CO-Body-Text-Quote {
	font-size:0.417em;
}
span._3-BM-Glos-Term-Run-In {
	font-weight:bold;
}
span._3-BM-Glos-Term-Run-In-ITAL {
	font-style:italic;
	font-weight:bold;
}
span._4-Page-Assembly-Instructions {
	color:#6d6e70;
}
span.BOLD_ITAL {
	font-style:italic;
	font-weight:bold;
}
span.Contents-Number {
	 /*"Sabon LT Std"*/
	font-size:0.75em;
}


span.Extract-Source-ITAL-CAP {
	font-style:italic;
}
span.SCAP{
	font-size: 70%;
}
span.SCAP-ITAL{
	font-size: 70%;
	font-style:italic;
}
._idGenDropcap-1 {

	 /*"Humanst521 BT"*/
	font-size:2.87em;
	float:left;
	margin-top:-0.45em;
	margin-right:0.05em;
	margin-bottom:-0.45em;
	line-height:1.5em;
}
._idGenDropcap-2 {

	 /*"Humanst521 BT"*/
font-size:2.87em;
	float:left;
	margin-top:-0.45em;
	margin-right:0.05em;
	margin-bottom:-0.45em;
	line-height:1.5em;
}
._idGenDropcap-3 {

	 /*"Humanst521 BT"*/
font-size:2.87em;
	float:left;
	margin-top:-0.45em;
	margin-right:0.05em;
	margin-bottom:-0.45em;
	line-height:1.5em;
	font-style:italic;
}
tr._idGenTableRowColumn-1 {
	background-color:#f1f1f2;
}
tr._idGenTableRowColumn-2 {
	
}
.hrclass{
    border-bottom-style:solid;
    border-bottom-width:1px;
    margin:.5em 0 1.5em 0;
}
il{margin:0em;
padding:0 0 0 .5em;}
ol{margin:0em;
padding:0 0 0 .5em;}
ul{margin:0em;
padding:0 0 0 .5em;}
.caption{
    margin:0em 0 .5em 0;
    text-align:center;
    font-size:.8em;
}