<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">

        <link rel="stylesheet" href="profile.css">
    </head>
    <body>

        <div class="profile-card">
            <div class="profile-background"></div>
            <!-- <img class="profile-avatar" src="{{ human.user.avatar_url_as(size = 4096) }}"/> -->
            <div class="profile-avatar">
                <img class="avatar-image" src="https://cdn.discordapp.com/avatars/120566758091259906/b13031b9807e62c388fd785dbe9343cc.png?size=4096"/>

                <label class="avatar-label">Clark#1062</label>
            </div>

            <div class="container">
                <div class="row col-12 attributes">
                    <div class="col-6 attribute-names">
                        <label>Gold</label><br/>
                        <label>Time</label>
                    </div>
                    <div class="col-6 attribute-values">
                        <label>250</label></br>
                        <label>22:50</label>
                    </div>
                </div>
            </div>

        </div>
    </body>

</html>